services:
  mc-server:
    image: ${IMAGE_NAME}:${MC_VERSION}
    pull_policy: never
    build:
      target: minecraft-server
      dockerfile: scripts/Dockerfile.distroless
      args:
        - JAVA_VERSION=${JAVA_VERSION}
        - SERVER_LINK=${SERVER_LINK}
        - UNAME=${USER}
        - GNAME=${USER}
        - UID=${UID}
        - GID=${GID}
    stdin_open: true
    volumes:
      - ./out:/home/${USER}/
      #- ./server.jar:/home/server.jar
    tty: true
    ports:
      - "25565:25565"
    entrypoint: java
    command: -Xmx1024M -Xms1024M -jar /home/server.jar --nogui
